@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway.eot');
    src: url('Raleway.eot?#iefix') format('embedded-opentype'),
    url('../font/Raleway.woff') format('woff'),
    url('../font/Raleway.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}